<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <specBind>
    <application
      startUrl=""
      xdt:Transform="SetAttributes(startUrl)"/>
    <browserFactory pageLoadTimeout="00:01:00" xdt:Transform="SetAttributes(pageLoadTimeout)">
      <settings>
        <add name="RemoteUrl" value="http://hub.browserstack.com:80/wd/hub/" xdt:Transform="Insert"/>
        <add name="browser" value="internet explorer" xdt:Transform="Insert"/>
        <add name="os" value="Windows" xdt:Transform="Insert"/>
        <add name="os_version" value="7" xdt:Transform="Insert"/>
        <add name="browser_version" value="10" xdt:Transform="Insert"/>
      </settings>
    </browserFactory>
  </specBind>
</configuration>